* ## Variables.


* ##### Naming the variables

In [ ]:
first_name = "kobby"

In [ ]:
first_name

In [1]:
l = 50
b = 30
# where l=lenth of the rectangle.
# where b=breadth of the rectangle.
# a =total area of the rectangle

area_of_the_rectangle = l * b

In [ ]:
area_of_the_rectangle

In [ ]:
male_student_name = "Prince"
female_student_name = "El"

number_of_students = male_student_name + " and " + female_student_name

In [ ]:
print("hello World")

In [ ]:
x = 35.5

In [ ]:
%whos

In [ ]:
type((x))

In [ ]:
a = 35.5

In [ ]:
%whos

In [ ]:
 a,b,c,d,e,f,g,abc = 5,56.8,-10,"john",5.8,8889.5,"Kobby",10

In [ ]:
%whos

In [ ]:
type((abc))

In [ ]:
del abc

In [ ]:
abc

# Python OPerators

# Types of Operator


## * Python language supports the following types of operators.

* Arithmetic Operators

* Comparison (Relational) Operators

* Assignment Operators

* Logical Operators

* Bitwise Operators

* Membership Operators

* Identity Operators

# Python Arithmetic Operators

* addition (+)        
* subtraction (-)      
* multiplication (*)  
* division (/)
* exponentiation (**)
* floor division (//)
* modulus (%)
* negation (-) negative figures
* absolute value (to think of all numbers as positive)

# Practicing with Pything Arithmetic Operators


##### Pything Arithmetic Operators are for working on mathematical operations.

In [ ]:
# These alphabet (a,b,c) are representation only for 

a = 5
b = 10
c = 3

In [ ]:
a+b

In [ ]:
c%a

In [ ]:
b-c

In [ ]:
x = c*b*a

In [ ]:
x

In [ ]:
x/a

In [ ]:
a**c

In [ ]:
a//c

In [ ]:
a%c

# String operators

## The string operators are;

* Assignment operator: “=.”

* Concatenate operator: “+.”

* String repetition operator: “*.”

* String slicing operator: “[]”

* String comparison operator: “==” & “!=”

* Membership operator: “in” & “not in”

* Escape sequence operator: “\.”

* String formatting operator: “%” & “{}”

# Practicing with Strings Operators

## Example #1 – Assignment Operator “=.”

#### Python string can be assigned to any variable with an assignment operator “= “. Python string can be defined with either single quotes [‘ ’], double quotes[“ ”] or triple quotes[‘’’  ‘’’]. var_name = “string” assigns “string” to variable var_name.

In [ ]:
# This code is for practicing on Assignment Operators. 
# Where s1 = string 1 and s2 = string 2

s1 = "hello"
s2 = 'hello'
s3 = '''hello'''

In [8]:
print(s1)
print(s2)
print(s3)

NameError: name 's1' is not defined

# Example #2 – Concatenate Operator “+.”


#### Two strings can be concatenated or join using the “+” operator in python

In [ ]:
s1 = "hello"
s2 = "World"
s3 = s1 + s2

In [ ]:
s3

In [ ]:
s3 = "helloworld"

In [ ]:
print(s3[0])
print(s3[1])
print(s3[-3])
print(s3[1:5])
print(s3[1:-3])
print(s3[2:])
print(s3[:5])
print(s3[:-2])
print(s3[-2:])
print(s3[::-1])

# Comparison String Operator

The string comparison operator in python is used to compare two strings.

####   * “==” operator returns Boolean True if two strings are the same and return Boolean False if two strings are not the same.

####   * “!=” operator returns Boolean True if two strings are not the same and return Boolean False if two strings are the same.

#####  * These operators are mainly used along with if condition to compare two strings where the decision is to be taken based on    string comparison.

In [ ]:
string1 = "hello"
string2 = "hello, world"
string3 = "hello, world"
string4 = "world"

In [ ]:
print(string4==string1)

In [ ]:
print(string3==string2)

In [ ]:
print(string1!=string4)

In [ ]:
print(string2!=string4)

# Example #6 – Membership Operator “in” & “not in”


## Membership operator is used to searching whether the specific character is part/member of a given input python string.

 
 
 * “a” in the string: Returns boolean True if “a” is in the string and returns False if “a” is not in the string.


* “a” not in the string: Returns boolean True if “a” is not in the string and returns False if “a” is in the string.


* A membership operator is also useful to find whether a specific substring is part of a given string.

In [11]:
first_name = "kobby media"

In [12]:
print(first_name)

kobby media

In [13]:
print("k" in first_name)

True

In [14]:
print("K" in first_name)

False

In [15]:
print("media" in first_name)

True

In [16]:
print("media" not in first_name)

False

In [17]:
print("Kobby" not in first_name)

True

# Programming Concepts

### Input    -->  Processing    -->    Output

# Calculating the Density of a substance.


#### Formula: Density = Mass/Volume

In [2]:
# d = density 
# m = mass
# v = volume


m = float(input("Enter the mass of the subtance: "))
      
v = float(input("Enther the volume of the substance: "))
            
d = m/v

print(d)

Enter the mass of the subtance: 54
Enther the volume of the substance: 23
2.347826086956522

# Write a programme to Calculat the Force of a Machine. 


### Let the programme accept keyboard input()

In [7]:
# Calculating the force of machince

# Formular Force = Mass x acceleration; velocity x distance; distance / time. 

# where mass = mas, acceleration = acc, velocity = vel, distance = dis, time = tim, force = foc


mas = float(input("Enter the mass of the machine: "))

acc = float(input("Enter the acceleration of the machine: "))

vel = float(input("Enter the velocity of the machine: "))

dis = int(input("Enter the distance covered by the machine: "))

tim = int(input("Enter the time used by the machine to cover distance: "))
                
foc = (mas * acc) + (vel * dis) + (dis / tim)

print(foc)

Enter the mass of the machine: 20.8
Enter the acceleration of the machine: 50.20
Enter the velocity of the machine: 25.8
Enter the distance covered by the machine: 30
Enter the time used by the machine to cover distance: 10
1821.16

## Calculating the area of a room. 


* Write a python program to calculate the area of a room. 

* Let the program accept input()
#### Formula;  [Area = Length * Breadth of the Room]