# pandas

## Library Highlights

* A fast and efficient DataFrame object for data manipulation with integrated indexing;
---
* Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
---
* Intelligent data alignment and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
---
* Flexible reshaping and pivoting of data sets;
---
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
---
* Columns can be inserted and deleted from data structures for size mutability;
---
* Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
---
* High performance merging and joining of data sets;
---
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
---
* Time series-functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
---
* Highly optimized for performance, with critical code paths written in Cython or C.

source: https://pandas.pydata.org/about/index.html

## Install pandas

### using pip to install pandas

#### command line

pip install pandas

python -m pip install pandas

#### jupyter notebook

!pip install pandas

### Using conda to install pandas

#### anaconda prompt

conda install pandas

conda install -c conda-forge pandas

## Import pandas

import pandas

### Import and alias as pd

In [1]:
import pandas as pd
import numpy as np

## pandas IO

### Read Functions

- pd.read_csv()

- pd.read_excel()

- pd.read_sql()

- pd.read_sql_query()

- pd.read_sql_table()

- pd.read_parquet()

- pd.read_pickle()

- pd.read_clipboard(sep=",")

- pd.read_html()

- pd.read_table()

### Output Functions

- pd.to_csv()

- pd.to_excel()

- pd.to_sql()

- pd.to_parquet()

- pd.to_pickle()

- pd.to_clipboard(sep=",")

- pd.to_html()

- pd.to_table()

## Import a csv file

In [2]:
data = pd.read_csv(
    filepath_or_buffer="./data/farm_data.csv",
    sep=",",
    engine="c",
    low_memory=False
)

## pandas Datatypes

### DataFrames

python dictionaries | matrix

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.loc[:2, :]

,IDFARM,FARM_TOTAL_AREA_GPS,POINT_LATITUDE,POINT_LONGITUDE,POINT_DATE
0,88797,0.0,6.153048,-2.673048,07/01/2016 13:11:59
1,88797,0.0,6.152918,-2.672938,07/01/2016 13:11:40
2,88797,0.0,6.152764,-2.672745,07/01/2016 13:11:10

### Series

In [5]:
type(data["IDFARM"])

pandas.core.series.Series

In [6]:
data["IDFARM"]

0        88797
1        88797
2        88797
3        88797
4        88797
         ...
2501    262540
2502    262540
2503    262540
2504    262540
2505    262540
Name: IDFARM, Length: 2506, dtype: int64

## Take a peek at the first five rows

In [7]:
data.head()

,IDFARM,FARM_TOTAL_AREA_GPS,POINT_LATITUDE,POINT_LONGITUDE,POINT_DATE
0,88797,0.0,6.153048,-2.673048,07/01/2016 13:11:59
1,88797,0.0,6.152918,-2.672938,07/01/2016 13:11:40
2,88797,0.0,6.152764,-2.672745,07/01/2016 13:11:10
3,88797,0.0,6.152710,-2.672877,07/01/2016 13:10:54
4,88797,0.0,6.152379,-2.672898,07/01/2016 13:10:21

## Take a peek at the last five rows

In [8]:
data.tail()

,IDFARM,FARM_TOTAL_AREA_GPS,POINT_LATITUDE,POINT_LONGITUDE,POINT_DATE
2501,262540,NaN,6.782437,-3.120298,19/12/2020 16:42:47
2502,262540,NaN,6.782326,-3.120410,19/12/2020 16:42:20
2503,262540,NaN,6.782322,-3.120423,19/12/2020 16:42:18
2504,262540,NaN,6.782152,-3.120367,19/12/2020 16:41:49
2505,262540,NaN,6.782094,-3.120059,19/12/2020 16:41:05

## Take a peek at sample of the data

In [9]:
data.sample(5)

,IDFARM,FARM_TOTAL_AREA_GPS,POINT_LATITUDE,POINT_LONGITUDE,POINT_DATE
1487,381968,NaN,5.669843,-2.226048,25/03/2021 14:22:52
1596,284552,0.0,5.735992,-2.368637,13/09/2021 08:03:18
360,460111,NaN,6.326545,-1.108070,30/11/2020 07:54:20
1479,381968,NaN,5.669445,-2.225593,25/03/2021 14:24:45
842,512966,NaN,6.439805,-2.737399,10/12/2020 10:24:15

## Get Data Information

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2506 entries, 0 to 2505
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IDFARM               2506 non-null   int64
 1   FARM_TOTAL_AREA_GPS  719 non-null    float64
 2   POINT_LATITUDE       2506 non-null   float64
 3   POINT_LONGITUDE      2506 non-null   float64
 4   POINT_DATE           2506 non-null   object
dtypes: float64(3), int64(1), object(1)
memory usage: 98.0+ KB

## Get Statistical Summary

In [11]:
data.describe()

              IDFARM  FARM_TOTAL_AREA_GPS  POINT_LATITUDE  POINT_LONGITUDE
count    2506.000000                719.0     2506.000000      2506.000000
mean   272702.160814                  0.0        6.146618        -2.534416
std    139665.849334                  0.0        0.449901         0.392378
min       390.000000                  0.0        5.589454        -3.165431
25%    203705.000000                  0.0        5.744747        -2.842259
50%    284383.000000                  0.0        6.115800        -2.626135
75%    384337.000000                  0.0        6.373064        -2.349313
max    578641.000000                  0.0        7.222613        -1.039747

In [12]:
data.describe(include="object")

                 POINT_DATE
count                  2506
unique                 2429
top     20/03/2016 03:24:56
freq                      3

In [13]:
data.describe(include=np.number)

              IDFARM  FARM_TOTAL_AREA_GPS  POINT_LATITUDE  POINT_LONGITUDE
count    2506.000000                719.0     2506.000000      2506.000000
mean   272702.160814                  0.0        6.146618        -2.534416
std    139665.849334                  0.0        0.449901         0.392378
min       390.000000                  0.0        5.589454        -3.165431
25%    203705.000000                  0.0        5.744747        -2.842259
50%    284383.000000                  0.0        6.115800        -2.626135
75%    384337.000000                  0.0        6.373064        -2.349313
max    578641.000000                  0.0        7.222613        -1.039747

In [14]:
data.describe(exclude="object")

              IDFARM  FARM_TOTAL_AREA_GPS  POINT_LATITUDE  POINT_LONGITUDE
count    2506.000000                719.0     2506.000000      2506.000000
mean   272702.160814                  0.0        6.146618        -2.534416
std    139665.849334                  0.0        0.449901         0.392378
min       390.000000                  0.0        5.589454        -3.165431
25%    203705.000000                  0.0        5.744747        -2.842259
50%    284383.000000                  0.0        6.115800        -2.626135
75%    384337.000000                  0.0        6.373064        -2.349313
max    578641.000000                  0.0        7.222613        -1.039747

In [15]:
data.describe(exclude="float")

               IDFARM           POINT_DATE
count     2506.000000                 2506
unique            NaN                 2429
top               NaN  20/03/2016 03:24:56
freq              NaN                    3
mean    272702.160814                  NaN
std     139665.849334                  NaN
min        390.000000                  NaN
25%     203705.000000                  NaN
50%     284383.000000                  NaN
75%     384337.000000                  NaN
max     578641.000000                  NaN

## Format Column Heads

In [17]:
data.columns

Index(['IDFARM', 'FARM_TOTAL_AREA_GPS', 'POINT_LATITUDE', 'POINT_LONGITUDE',
       'POINT_DATE'],
      dtype='object')

In [18]:
data_columns = data.columns

data_columns

Index(['IDFARM', 'FARM_TOTAL_AREA_GPS', 'POINT_LATITUDE', 'POINT_LONGITUDE',
       'POINT_DATE'],
      dtype='object')

In [19]:
formatted_columns = data_columns.str.lower()

formatted_columns

Index(['idfarm', 'farm_total_area_gps', 'point_latitude', 'point_longitude',
       'point_date'],
      dtype='object')

In [20]:
data.columns = formatted_columns

In [21]:
data.head()

,idfarm,farm_total_area_gps,point_latitude,point_longitude,point_date
0,88797,0.0,6.153048,-2.673048,07/01/2016 13:11:59
1,88797,0.0,6.152918,-2.672938,07/01/2016 13:11:40
2,88797,0.0,6.152764,-2.672745,07/01/2016 13:11:10
3,88797,0.0,6.152710,-2.672877,07/01/2016 13:10:54
4,88797,0.0,6.152379,-2.672898,07/01/2016 13:10:21

## Rename Column Names

In [24]:
data.rename(
    columns={
        'farm_total_area_gps': "farm_size",
        "idfarm": "farm_id",
    }, 
    inplace=True
)

In [25]:
data.head(2)

   farm_id  farm_size  point_latitude  point_longitude           point_date
0    88797        0.0        6.153048        -2.673048  07/01/2016 13:11:59
1    88797        0.0        6.152918        -2.672938  07/01/2016 13:11:40

## Change Type

In [26]:
pd.to_datetime(data["point_date"])

0      2016-07-01 13:11:59
1      2016-07-01 13:11:40
2      2016-07-01 13:11:10
3      2016-07-01 13:10:54
4      2016-07-01 13:10:21
               ...
2501   2020-12-19 16:42:47
2502   2020-12-19 16:42:20
2503   2020-12-19 16:42:18
2504   2020-12-19 16:41:49
2505   2020-12-19 16:41:05
Name: point_date, Length: 2506, dtype: datetime64[ns]

In [27]:
data["point_date"].dtype

dtype('O')

In [28]:
data["point_date"] = pd.to_datetime(data["point_date"])

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2506 entries, 0 to 2505
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   farm_id          2506 non-null   int64
 1   farm_size        719 non-null    float64
 2   point_latitude   2506 non-null   float64
 3   point_longitude  2506 non-null   float64
 4   point_date       2506 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 98.0 KB

## Check Missing Values

In [36]:
data.isnull().any()

farm_id            False
farm_size           True
point_latitude     False
point_longitude    False
point_date         False
dtype: bool

In [32]:
data.isna().any()

farm_id            False
farm_size           True
point_latitude     False
point_longitude    False
point_date         False
dtype: bool

In [33]:
data.isnull().sum()

farm_id               0
farm_size          1787
point_latitude        0
point_longitude       0
point_date            0
dtype: int64

---
---

## Subset DataFrame

In [34]:
data.head()

   farm_id  farm_size  point_latitude  point_longitude          point_date
0    88797        0.0        6.153048        -2.673048 2016-07-01 13:11:59
1    88797        0.0        6.152918        -2.672938 2016-07-01 13:11:40
2    88797        0.0        6.152764        -2.672745 2016-07-01 13:11:10
3    88797        0.0        6.152710        -2.672877 2016-07-01 13:10:54
4    88797        0.0        6.152379        -2.672898 2016-07-01 13:10:21

In [ ]:
farm_id_size = data[["idfarm", "farm_size"]].copy()

farm_id_size.head()

## Get Unique Values

In [ ]:
data["idfarm"].nunique()

In [ ]:
data["idfarm"].unique()

## Aggregation Functions/Methods

- .min()
- .max()
- .sum()
- .median()
- .mean()
- .std()
- .var()
- .cov()
- .mode()
- .cumsum()
- .cumprod()
- .cummin()
- .cummax()

## Groupby

In [ ]:
farm_id_size.groupby(by="idfarm")["farm_size"].sum().reset_index()